.header{
	height:100px;
	border : 1px solid black;
	background-color: black;
}
h1{
	color:white;
}
.footer{
	height:80px;
	border : 1px solid black;
	background-color: black;
}
.content{
	height:auto;
	border : 1px solid black;

}
.notice{
	height: ;
	border:1px solid black;
	margin: 50px;
	border-radius: 20px;
	padding: 20px;
}